.image1 {
  position: absolute;
  left: 60%;
  top: 15%;
}

.text1 {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 45%;
}

.text1 h1 {
  color: #0c0475;
  position: relative;
  line-height: 15mm;
}

.text2 {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 45%;
}

.text2 h1 {
  color: #0c0475;
  position: relative;
  line-height: 15mm;
}
